<?xml version="1.0" encoding="utf-8"?>
	<packages>
	<package id="iTunes" />
	<package id="lightshot" />
	<package id="mysql.workbench" />
	<package id="nodejs" />
	<package id="notepadplusplus" />
	<package id="virtualbox" />
	<package id="vagrant" />
	<package id="golang" />
	<package id="GoogleChrome" />
	<package id="pgadmin4" />
	<package id="spotify" />
	<package id="python" />
	<package id="telegram" />
	<package id="teamviewer" />
	<package id="slack" />
	<package id="microsoft-windows-terminal" />
	<package id="WhatsApp" />
	<package id="obs-studio" />
	<package id="twitch" />
	<package id="skype" />
	<package id="dotnetcore-sdk"/>
	<package id="dotnet-5.0-sdk"/>
	<package id="microsoft-teams" />
	<package id="putty.install" />
	<package id="vim" />
	<package id="vlc" />
	<package id="yarn" />
	<package id="brave" />
	<package id="poshgit" />
	<package id="discord" />
	<package id="curl" />
	<package id="chef-workstation" />
	<package id="oh-my-posh" />
	<package id="openssh" />
	<package id="zoom-client" />
	<package id="rdmfree" />
	<package id="adobereader" />
	<package id="packer" />
	<package id="Minikube" />
	<package id="docker-cli" />
	<package id="kubernetes-helm" />
	<package id="keepass" />
	<package id="owncloud-client" />
	<package id="meld" />
</packages>